<?xml version="1.0" encoding="UTF-8"?>

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginHandler</servlet-name>
  	<display-name>LoginHandler</display-name>
  	<description></description>
  	<servlet-class>LoginHandler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrationHandler</servlet-name>
  	<display-name>RegistrationHandler</display-name>
  	<description></description>
  	<servlet-class>RegistrationHandler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SessionManagement</servlet-name>
  	<display-name>SessionManagement</display-name>
  	<description></description>
  	<servlet-class>SessionManagement</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>EyeHandler</display-name>
  	<servlet-name>EyeHandler</servlet-name>
  	<servlet-class>EyeHandler</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ChildHandler</display-name>
  	<servlet-name>ChildHandler</servlet-name>
  	<servlet-class>ChildHandler</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DentistHandler</display-name>
  	<servlet-name>DentistHandler</servlet-name>
  	<servlet-class>DentistHandler</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SkinHandler</display-name>
  	<servlet-name>SkinHandler</servlet-name>
  	<servlet-class>SkinHandler</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>BookingEditor</display-name>
  	<servlet-name>BookingEditor</servlet-name>
  	<servlet-class>BookingEditor</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>BookingDeleter</display-name>
  	<servlet-name>BookingDeleter</servlet-name>
  	<servlet-class>BookingDeleter</servlet-class>
  </servlet>
	<servlet>
  	<description>
  	</description>
  	<display-name>RegistrationEditor</display-name>
  	<servlet-name>RegistrationEditor</servlet-name>
  	<servlet-class>RegistrationEditor</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginHandler</servlet-name>
  	<url-pattern>/LoginHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationHandler</servlet-name>
  	<url-pattern>/RegistrationHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SessionManagement</servlet-name>
  	<url-pattern>/SessionManagement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EyeHandler</servlet-name>
  	<url-pattern>/EyeHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChildHandler</servlet-name>
  	<url-pattern>/ChildHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DentistHandler</servlet-name>
  	<url-pattern>/DentistHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SkinHandler</servlet-name>
  	<url-pattern>/SkinHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookingEditor</servlet-name>
  	<url-pattern>/BookingEditor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookingDeleter</servlet-name>
  	<url-pattern>/BookingDeleter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationEditor</servlet-name>
  	<url-pattern>/RegistrationEditor</url-pattern>
  </servlet-mapping>
</web-app>
